html {
	background-color: #B4B2B2;
}

p {
	font-family: Arial;
	text-indent: 50px;
	margin-left: 15%;
	margin-right: 15%;
}

code {
	background-color: rgb(91, 91, 91);
	color: white;
}

.text-centered {
	font-family: Arial;
	text-align: center;
}

.img-centered {
	height: 50%;
	width: 75%;
	margin: auto;
}

#nav-bar {
	color: white;
	border-radius: 5px;
}

.centered {
	align-items: center;
	padding-left: 10px;
	display: flex;
	justify-content: center;
}
/* Got the ".centered" class' properties NOT by myself */

.selection {
	border-radius: 5px;
	background-color: #676262;
	color: black;
}