html {
	background-color: #B4B2B2;
}

.text-centered {
	font-family: Arial;
	text-align: center;
}

#nav-bar {
	color: white;
	border-radius: 5px;
}

.centered {
	align-items: center;
	padding-left: 10px;
	display: flex;
	justify-content: center;
}
/* Got the ".centered" class' properties NOT by myself */

.selection {
	border-radius: 5px;
	background-color: #676262;
	color: black;
}